@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Poppins SemiBold */
@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  @apply font-poppins;
}

h1 {
  @apply font-poppins font-semibold text-h1;
}

h2 {
  @apply font-poppins font-semibold text-h2;
}

h3 {
  @apply font-poppins font-medium text-h3;
}

h4 {
  @apply font-poppins font-semibold text-h4;
}

h5 {
  @apply font-poppins font-normal text-h5;
}
